<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="alert alert-success">
                <h1>{{welcomeTitle}}</h1>
                <p>{{welcomeMessage}}</p>
            </div>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-danger">Log Out</button>
            </form>
        </div>
    </div>
</div>

