
<body>
    <div class="row justify-content-center">
        <div class="col-4">
            <h1>Verify</h1>
            <form action="/verify" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="code" placeholder="Code" />
                </div>
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
        </div>
    </div>
</div>
